.footer {
    height: 25vh;
    width: 100%;
    padding-top: -5rem;
    margin-top: 10rem;
    background-color: #1E90FF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer span {
    font-size: 1.3rem;
}

.social-media-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3px;
    margin: 5px 0 1rem;
}

.social-media-container li {
    list-style: none;
}

.social-media-container img {
    width: 30px;
}

.footer p {
    width: 90%;
}